@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

body {
    color: #FFFFFF;
    font-family: Ubuntu, "Arial";
    padding: 16px;
    scroll-behavior: auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    border: 3px #FFFFFF;
    border-style: solid;
    margin: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.landingPage{
	height: 100%;
	width:100%;
}

.greetings {
    font-size: 88px;
}

.customFooter {
    margin: 8px;
}
