@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

body {
    color: #FFFFFF;
    font-family: Ubuntu, "Arial";
    font-size: 16px;
    padding: 16px;
    width: 100%;
    padding: 0%;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF;
    border: 4px #FFFFFF;
    border-style: solid;
    margin: 8px;
}

.navbar a:hover, a:focus {
    color: #D3D3D3;
    border-color: #D3D3D3;
    background: transparent !important;
}

.navbar {
    /*margin: 2%;*/
    padding: 1% 2%;
    background: rgba(0,0,0,0.5);; 
}

.greetings{
    font-size: 88px;
	display: none;
    padding: 10% 20%;
}

.continue {
    border: #FFFFFF;
    border-style: solid;
    border-width: 4px;
    background: transparent;
    margin: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.continue:hover {
    color: #D3D3D3;
    border-color: #D3D3D3;
}

.name {
    font-size: 40px;
    margin: 8%;
}

.intro {
    width: 100%;
    padding: 4% 8%;
    background: rgba(210,150,0,0.85);
    font-size: 18px;
    /*border-top: solid 4px #FFFFFF;*/
}

.myCarousel {
    height: auto;
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.myCarousel img {
    position: relative;
    width: 100%;
}

.prof_pic_div {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border: #FFFFFF;
    border-style: solid;
    border-width: 4px;
}

.prof_pic_div img {
    height: 160px;
    width: 155px;
}

.customFooter {
   /*position: absolute;*/
/*   right: 0;
   bottom: 0;
   left: 0;*/
   /*text-align: center;*/
   padding: 3rem;
    margin: 8px;
}
