<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/homeController.js"></script>


    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="application.css"/>

    <title>ALo</title>
</head>
<body ng-app="webApp" ng-controller="NavCtrl" background="img/background.jpg">
    <div class="landingPage" align="center" ng-if="showLandingPage">
        <div class="greetings">Welcome</div>
        <button type="submit" class="btn btn-success" ng-click="continue()"> Continue </button>
    </div>
    <div ng-if="!showLandingPage">
        <nav class="navbar" role="navigation">
            <!-- Regular Flow -->
            <ul class="nav navbar-nav pull-right" ng-if="!showLandingPage">
                <li><a ui-sref="home"><b>Home</b></a></li>
                <li><a ui-sref="about"><b>About</b></a></li>
                <li><a ui-sref="contact"><b>Contact</b></a></li>
            </ul>
        </nav>
        <ui-view></ui-view>
    </div>
    <div class="footer navbar-fixed-bottom customFooter" align="center">
        <div> Handcrafted by Albert Lo </div>
        <div> All Rights Reserved &copy; 2017</div>
    </div>
</body>
</html>
