html{
	height: 100%;
	margin: 0px;

}

body {
	height: 100%;
	margin: 0px;
	font: 16px Helvetica;
	background: #F0EAD6;
    text-align: center;
}

footer {
	padding: 2% 15%;
}

h2 {
	text-align: center;
	font-weight: bold;
}

a {
	color: #F0EAD6;
	font-weight: bold;
}

.row {
	padding: 2%;
}

.greetings{
	padding: 30% 15%;
	display: none;
}

.myPic {
	border-radius: 50%;
	border: 3px solid #F0EAD6;
    display: block;
    margin: 0 auto;
}

.introduction {
	background: #303030;
	color: white;
    padding: 2% 15%;
}

.industry {
    padding: 2% 15%;
}

.school {
	padding: 2% 15%;
}
