html{
	height: 100%;
	margin: 0px;
}

body {
	height: 100%;
	margin: 0px;
	font: 16px Helvetica;
	background: #FFFFCC;
    text-align: center;
}

footer {
	padding: 2% 15%;
}

h2 {
	text-align: center;
	font-weight: bold;
}

a {
	color: #FFFFCC;
	font-weight: bold;
}

ul li {
	list-style: none;
}

.row {
	padding: 2%;
}

.greetings{
	padding: 30% 15%;
	display: none;
}

.myPic {
width: 100%; /*Tells image to fit to width of parent container*/
}

.container {
width: 33%; /*Use this to control width of the parent container, hence the image*/
}

.introduction {
	background: #303030;
	color: white;
    padding: 2% 15%;
}

.educationContent {
 	background: #303030;
	color: white;
	margin: 0px;
    padding: 2% 15%;
 	width: 100%;
}

.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.what9000, .what9000 .circle {
  fill: #FFD700;
  stroke: none;
}