html{
	height: 100%;
	margin: 0px;

}
body {
	height: 100%;
	margin: 0px;
	font: 16px Sans-Serif;
	background: #F0EAD6;
}

footer{

}

h2 {
	text-align: center;
}

.myPic {
	border-radius: 50%;
	border: 3px solid #F0EAD6;
	margin-left: 40%;
}

.introduction {
	background: #303030;
	color: white;
    padding: 04% 15%;
}

.heading {
}