<div style="height: 10px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="true">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}" style="margin:auto;">
        </div>
    </div>
</div>
<div class="intro">
    I'm currently a senior dual majoring in Computer Science and Data Science at the University of Michigan at Ann Arbor, Michigan
    with plans to graduate by May of 2018. My interests include computer security, machine learning, and web development.
    Outside of class, you can find me playing ultimate frisbee, table tennis, or tennis.  
</div>
<!-- Home Page

intro:

“The Internet?  Is that thing still around?” - Homer Simpson


Maybe an anecdote here?
I'm currently a senior dual majoring in Computer Science and Data Science at the University of Michigan at Ann Arbor, Michigan
with plans to graduate by May of 2018. I've -->
