<div class="intro">
    <div class="prof_pic_div" align="center"></div>
    <div align="center"><h3><b><i>"Just Do It"</i></b> - Shia LeBeouf</h3></div>
    <br/>
    <p>
        I've always been an "All-In" kind of person. Once I discover something that I find interesting, whether it's a new skill like dancing, a hobby like biking, or a new idea like machine learning, I become completely immersed in the topic. I love learning new things and challenging myself to broaden my horizons. I wrote my first computer program when I was a senior in High School for an end-of-the-year senior capstone project. A friend of mine had jokingly mentioned the idea learning Java and writing a simple program to demo to the class. The conversation was short-lived but the idea burned into my mind. That night, I scoured the Internet looking for different resources to learn from. If it wasn't for that conversation, I may have never discovered my passion and love for computer science. We often let our fear of the unknown hinder us from trying out new things. But as Shia LeBeouf so elegantly put it, "Just Do It."
    </p>
</div>
<!-- Home Page



Maybe an anecdote here?
I'm currently a senior dual majoring in Computer Science and Data Science at the University of Michigan at Ann Arbor, Michigan
with plans to graduate by May of 2018. I've -->
